@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #272727;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

header {
    flex: 2;
}

header h1 {
    font-size: 80px;
    font-weight: 800;
}

@media (max-width: 48rem) {
    header h1 {
        font-size: 60px;
    }
}

section {
    flex: 8;
}

article h3 {
    font-size: 25;
    font-weight: 800;
}
